<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录 - 联新</title>
<link rel="stylesheet" type="text/css" href="#url('/resources/css/device.css')" />
<script type="text/javascript" src="#url('/resources/js/main/login.js')"></script>
</head>

<body class="login">
    <div class="clearfix center">
        <div class="fl left">
            <!-- 联新logo -->
            <img src="#url('/resources/img/device/logo.png')" class="logo" alt="联新移动护理" />
        </div>
        <div class="fr right">
        	<div class="bg_userLogin">
                <form class="clearfix color f_yahei option borderColor" id="loginForm"  action="#url('/index/doLogin.do')" method="post">
                    <label for="username">用户名</label><input type="text" class="f_yahei color text textGet user" name="userName" id="userName" value="LH" /><br />
                    <label for="password">密码</label><input type="password" class="color text marginBottom" name="password" id="password" value="123" /><br />
                    <div style="height:25px;"><font color=red>$!error</font></div><br/>
                    <input type="submit" value="登 录" class="f_yahei bg_login" />
                    <input type="reset" value="重置" class="f_yahei fr reset" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>